<!-- HEADER BLOCK -->
<header id="t4-header-wrap" class="t4-header-wrap">
  <div class="t4-header-inner">
    <div class="row no-gutters">
      <div class="col-12 col-xl-9 d-flex align-items-center t4-navbar-wrap">
        <div class="t4-logo-wrap">
          <jdoc:include type="element" name="logo" />
        </div>

        <div class="t4-navbar d-flex align-items-center">
          <jdoc:include type="element" name="megamenu" />

          <jdoc:include type="element" name="offcanvas-toggle" />
        </div>
      </div>

      <div class="col-xl-3 d-none d-xl-flex justify-content-end align-items-center">
        <div class="t4-right-header d-flex align-items-center">
          <div class="languages">
            <jdoc:include type="modules" name="languages" />
          </div>

          <jdoc:include type="modules" name="head-actions" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->