// Function, variables
@import "vars";

// For template rtl style
.fa, .fab, .fal, .far, .fas{
	transform: scale(-1,1);
}


html[dir="rtl"] {
	// Fix Icon
  .fa-angle-double-left:before {
  	content: "\f101";
  }

  .fa-angle-left:before {
  	content: "\f105";
  }

  .fa-angle-double-right:before {
  	content: "\f100";
  }

  .fa-angle-right:before {
  	content: "\f104";
  }
}

// Owl Carousel
.owl-stage-outer {
	direction: ltr;

	.owl-stage {
		direction: rtl;
	}
}

// Smart Search
.finder {
	#finder-filter-window {
		.filter-branch {
			float: right;
		}
	}

	#finder-filter-select-dates {
		.filter-date {
			float: right;
			text-align: right;
		}

		.filter-date-operator {
			margin-right: 0 !important;
		}
	}
}


// Edit Profile
#member-profile {
	legend {
		text-align: right;
	}
	
	.control-group {
		[class^="col-"], [class*=" col-"] {
			text-align: right;
		}
	}
}

// Mail to
#mailto-window {
	.controls {
		input {
			text-align: right;
		}
	}

	#consentbox {
		.form-check-input {
			float: right;
		}
	}
}

#member-profile {
		.control-group {
			.chzn-container {
				.chzn-drop {
					right: -9999px;
					left: auto !important;

					.chzn-search {
						position: static;
					}
				}

				&.chzn-with-drop {
					.chzn-drop {
						right: 0;
					}
				}
			}
		}
}

// Masthead
.t4-masthead .ja-masthead .breadcrumb .divider:before {
	content: "\f104";
}

// Icon Search
div.guru-module-search .uk-search-input,
.acm-features.style-1 .features-mod .mod-search input,
.acm-features.style-1 .features-mod .finder input {
	background-position: right 30px center;

	// Mobile view
	@include media-breakpoint-down(sm) {
		background-position: right 15px center;
	}
}

// Guru
.com_guru #guru-component .uk-panel-box .uk-panel-badge {
	right: auto;
}